@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --primary-color: #F0A500;
  --secondary-color: #E45826;
  --dark-color: #211F1F;
  --light-color: #FFFFFF;
  --darker-color: #171717;
  --background-color: #FFFCF5;
  --text-color: #211F1F;
  --primary-gradient: linear-gradient(180deg, #211F1F, #171717);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}